<h2>List of rooms</h2>
<%= render 'rooms/rooms' %>

<h1>Room.show</h1>

<h4>You are in the <%= @room.name %> Room</h4>
<h4>Room's Id is: <%= @current_room %></h4>

<% @room_message.each do |message| %>
  <p><%= message.message %>
  	<span> - User: <% @creator_of_message.each do |creator| 
  							if creator.id == message.user_id %>
  							  <%= creator.username %>
  						    <% end %>
  					  <% end %>								
  	</span>
  </p>
<% end %>

<%= render 'form' %>

</br>
<hr>

<%= link_to "Close the room", @room, method: :delete %></br>
<%= link_to "Back for list of the rooms", rooms_path %>

