
<h1>Room.show</h1>
<h4><%= @room.name %></h4>

<% @room_message.each do |message| %>
  <p><%= message.message %></p>
<% end %>


<%= form_for @new_room_message, remote: true do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :message %>
    <div class="input-group-append">
      <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
    </div>
  </div>
  <%= form.hidden_field :room_id, :value => '5' %>
  <%= form.hidden_field :user_id, :value => current_user.id %>


<% end %>

</br>
<%= link_to "Back for list of the rooms", rooms_path %>

