<div id="list_of_room" class="col-md-5">
  <div class="small_content_holder">
    <h2>List of available rooms:</h2></br>
    <div style="margin-left: 2%;">
      <%= render 'rooms/rooms' %>
    </div>
    </br>
    <hr>

    <h2>List of Users:</h2></br>
    <div style="margin-left: 2%;">
      <%= render 'rooms/users' %>
    </div>
    </br>
  </div>
</div>

<div id="list_of_messages" class="col-md-7 align-items-center">
  <h1>You are in room: <%= @room.name %></h1>

  <div class="text-muted" style="margin-left:2%;padding-top:1%;">
    <h4>You are in the <%= @room.name %> Room</h4>
    <h4>Room's Id is: <%= @current_room %></h4></br>
  </div>

  <div class="small_content_holder_on_messages">
    <% @room_message.each do |message| %>
      <p><%= message.message %>
        <span class="text-muted">
          -
          <% @creator_of_message.each do |creator| %>
          <% if creator.id == message.user_id %>
          <%= creator.username %>
          -
          <%= message.created_at %>
          <% end %>
          <% end %>
  	  </span>
      </p>
    <% end %>
  </div></br>

  <%= render 'form' %>

  </br>
  <hr>

  <div class="text-center">
    <%= link_to "Close the room", @room, method: :delete %></br>
    <%= link_to "Back for list of the rooms", rooms_path %>
  </div>
</div>
